.FormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: 32px;
  }

  .FormContainer > div {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 540px;
    max-height: 477px;
    padding: 40px 94px;
    text-align: center;
    align-items: center;
    flex-grow: 1;
  }