.FormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: 32px;
    margin-bottom: 20px;
  }

  .FormContainer > .form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px 94px;
    align-items: center;
  }

  @media only screen and (max-width: 768px) {
  .FormContainer {
    margin-bottom: 0;
  }
 
  .FormContainer > .form {
    width: 262px;
    padding: 24px;
  }
}