.inputWrapper {
  width: 560px;
  padding-bottom: 32px;
  position: relative;
}

.halfWidth {
  width: 260px;
  align-self: flex-start;
}

input {
  width: 94%;
  padding: 6px 3%;
  height: 28px;
  border: 2px solid rgba(171,185,194,0.32);
  border-radius: 4px;
  background-color: #FFFF;
  font-size: 16px;
  margin-top: 8px;
  transition: all .5s;
}

label {
  font-weight: bold;
  color: #25333D;
  font-size: 14px;
  display: block;
  text-align: left;
}

span.helpText {
  color: #879299;
  font-size: 14px; 
  margin-top: 10px;
}

.isDisabled {
  cursor: not-allowed;
}

.inValid {
  border: 2px solid rgba(248, 36, 47, 0.767);
}

.optional {
  position: absolute;
  right: 0;
  top: 0px;
  font-size: 14px; 
  color: #879299;
}

@media only screen and (max-width: 768px) {
  .inputWrapper {
    width: 260px;
  }

  .activityWebpage {
    margin-top: 20px;
  }

}