.inputWrapper {
  width: 540px;
  padding-bottom: 28px;
}

.halfWidth {
  width: 260px;
  align-self: flex-start;
}

input {
  width: 94%;
  padding: 6px 3%;
  height: 28px;
  border: 2px solid rgba(171,185,194,0.32);
  border-radius: 4px;
  background-color: #FFFF;
  font-size: 16px;
  margin-top: 10px;
  transition: all .5s;
}

label {
  font-weight: bold;
  color: #25333D;
  font-size: 14px;
  display: block;
  text-align: left;
}

.isDisabled {
  cursor: not-allowed;
}

.inValid {
  border: 2px solid rgba(248, 36, 47, 0.767);
}



