button {
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
    color: white;
    width: 88px;
    color: #879299;
    background-color: white;
    box-shadow: solid rgba(171,185,194,0.32);
    margin: 8px;
}

.orange {
    width: 160px;
    background-color: #F45918;
    color: white;
} 

.blue {
    background-color: #00A5E6;
    color: white;
    font-size: 14px;
    width: 200px;
    margin-top: -18px;
}

.isDisabled {
    opacity: 0.5;
}

