.selectWrapper {
    padding: 10px;
    padding-bottom: 28px;
    position: relative;
}

.selectLabel {
  position: absolute;
  top: -10px;
}

.select {
    position: relative;
    display: inline-block;
    background-color: DodgerBlue;
    height: 22px;
    width: 240px;
    align-self: flex-start;
    background-color: #FFFF;
    font-size: 16px;
    padding: 9px;
    border: 2px solid rgba(171,185,194,0.32);
    border-radius: 4px;
    text-align: left;
}

.select:after {
  position: absolute;
  content: "";
  top: 17px;
  right: 12px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #879299 transparent transparent transparent;
}

.options {
  width: 100%;
  border: 2px solid rgba(171,185,194,0.32);
  position: absolute;
  left: -3px;
  top: 40px;
  border-radius: 8px;
  background-color: white;
}

.options > div {
  width: 96%;
  height: 28px;
  border-bottom: 2px solid rgba(171,185,194,0.32);
  padding: 7px;
  transition: all .5s;
  text-align: center;
}

.options > div:hover {
  background-color: lightblue;
}
