html, body {
  background-color: #F1F3F5;
  min-height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'SF-Pro-Display-Regular' !important;
  min-height: 100vh;
}

@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url("../css/fonts/SF-Pro-Display-Regular.otf");
}

.title {
  color: #25333D;
  font-size: 24px;
  font-weight: bold;
  display: block;
  padding-bottom: 40px;
}
